.tab{
    height:200px;
    width:600px;
    border: 2px solid black;
}
.thr{
    text-align: center;
}
/* .row3{
    background-color: rgb(237, 229, 229);
}
.row5{
    background-color: rgb(237, 229, 229);
}
.row1{
    background-color: blue;
}
.row2{
    background-color: white;
}
.row4{
    background-color: white;
} */
/* Your CSS Code here. */